
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=df4e67da-395a-4fb5-9e32-157f86164ade");
    @font-face{
        font-family:"Neue Light";font-weight: normal;
        src:url(" ../fonts/001e59a9-197e-4fb1-9e72-cef21b186c03.eot?#iefix");
        src:url(" ../fonts/001e59a9-197e-4fb1-9e72-cef21b186c03.eot?#iefix") format("eot"),url(" ../fonts/e5716290-d41e-4c97-a27c-7a20a46ddf45.woff2") format("woff2"),url(" ../fonts/b681571f-aab2-4935-a99c-6ee1063ce638.woff") format("woff"),url(" ../fonts/1d88a9b0-aac0-40df-baf7-a630cd19cc5d.ttf") format("truetype"),url(" ../fonts/40a247b1-2840-4953-b24b-8a82ace0673b.svg#40a247b1-2840-4953-b24b-8a82ace0673b") format("svg");
    }
    @font-face{
        font-family:"Neue Regular";font-weight: normal;
        src:url(" ../fonts/0ebd7648-5847-404a-a88a-28a353c0921c.eot?#iefix");
        src:url(" ../fonts/0ebd7648-5847-404a-a88a-28a353c0921c.eot?#iefix") format("eot"),url(" ../fonts/e0d80810-f7e3-4fea-8c57-ef8116f0465d.woff2") format("woff2"),url(" ../fonts/27645c8a-608b-4abf-a2f1-c4407b576723.woff") format("woff"),url(" ../fonts/bd3b3439-8eff-445c-80ed-87064138ca7d.ttf") format("truetype"),url(" ../fonts/bf3731ee-64fe-49c1-b8a6-a4edbff3c74a.svg#bf3731ee-64fe-49c1-b8a6-a4edbff3c74a") format("svg");
    }
    @font-face{
        font-family:"Neue Medium";font-weight: normal;
        src:url(" ../fonts/56b738a7-54b9-4e8c-a470-d96972ab3303.eot?#iefix");
        src:url(" ../fonts/56b738a7-54b9-4e8c-a470-d96972ab3303.eot?#iefix") format("eot"),url(" ../fonts/2418a824-3af2-42d7-a62e-f7a77cf487d1.woff2") format("woff2"),url(" ../fonts/86b76db5-9343-473a-a106-60683cec7626.woff") format("woff"),url(" ../fonts/2b883332-01dc-4b55-ac6a-d24c84f0e334.ttf") format("truetype"),url(" ../fonts/7de50dd1-4a4e-47bf-bb5d-33bf1450649a.svg#7de50dd1-4a4e-47bf-bb5d-33bf1450649a") format("svg");
    }
    @font-face{
        font-family:"Neue Bold";font-weight: normal;
        src:url(" ../fonts/debbfa41-3ea8-466c-9174-de4e919598ed.eot?#iefix");
        src:url(" ../fonts/debbfa41-3ea8-466c-9174-de4e919598ed.eot?#iefix") format("eot"),url(" ../fonts/39bb8fb3-84a4-4ab8-ae45-db1834f5d807.woff2") format("woff2"),url(" ../fonts/96fd4fb4-75db-412f-986d-d65380ee0ccf.woff") format("woff"),url(" ../fonts/d86863bd-a6e3-4cd0-abe7-a711edaaebc6.ttf") format("truetype"),url(" ../fonts/eea53212-4a22-464f-bb6f-5cd5b17467ff.svg#eea53212-4a22-464f-bb6f-5cd5b17467ff") format("svg");
    }
    @font-face{
        font-family:"Neue Heavy";font-weight: normal;
        src:url(" ../fonts/6c692eb5-038f-453c-acf3-ac23b220b88f.eot?#iefix");
        src:url(" ../fonts/6c692eb5-038f-453c-acf3-ac23b220b88f.eot?#iefix") format("eot"),url(" ../fonts/f01b7f8c-22f9-4b50-9ad7-d3a17cf65b06.woff2") format("woff2"),url(" ../fonts/69806caf-7c00-4742-8f54-584ad7d5ad6b.woff") format("woff"),url(" ../fonts/6acd8ee3-d80a-44a0-a99e-11a7ed1d4cc4.ttf") format("truetype"),url(" ../fonts/494a9340-2b09-4558-b1d6-6c5966ead957.svg#494a9340-2b09-4558-b1d6-6c5966ead957") format("svg");
    }
