.ta-right
  text-align: right
.ta-left
  text-align: left
.ta-center
  text-align: center

.f-l
  float: left

.f-r
  float: right

.clearfix:after
  content: ""
  display: table
  clear: both
.orange
  color: $orange
.green
  color: $green
.space-group
  margin-bottom: 1.5em
.circle
  background: $green
  height: 14px
  width: 14px
  border-radius: 50%
  display: inline-block
  position: relative
  top: 4px
@media only screen and (min-width: $media-md)
  .space-md
    padding-top: 48px
@media only screen and (min-width: $media-lg)
  .space-md
    padding-top: 24px
.block-center
  display: block
  margin: 0 auto
.gradient
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.0))
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
.relative
  position: relative
.ad
  font-family: "Neue Light"
  font-size: 10px
  line-height: 20px
  letter-spacing: 1px
  padding: 2px
  // background: $essentiallynotgray
